@import '../../variables.scss';

.LearningPage {
  .baloonTitle {
    text-align: center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    @media (max-width: 1199.98px) {
      padding-top: 45px;
    }
    h1 {
      color: #0055D5;
      display: inline-block;
      font-size: 82px;
      font-family: 'ariston_comic_demoregular';
      font-weight: 400;
      position: relative;
      letter-spacing: 3px;
      -webkit-text-stroke: 4px #fff;
      background: -webkit-linear-gradient(top, #0055d5 0%, #0055d5 58%, #0055d5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0 !important;
      @media (max-width: 1199.98px) {
        font-size: 48px;
       
      }
    }
  }
  .FeedbackWrap {
    padding: 135px 0;
    .LearningHindiLang {
      position: relative;
      .leftTenBoy {
          position: absolute;
          left: 0;
          top: -130px;
      }
    }
    .CenterGirl {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      transform: translate(-50%, 0);
    }
    .RightBallBoy{
      position: absolute;
      right: 0px;
      top: -75px;
      z-index: -1;
    }
  }
  .LearningWrap {
    background-color: #043A8B;
    border-radius: 68px;
    margin-top: 15px;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  .baloonGroup {
    display: flex;
    flex-wrap: wrap;
    .SingleBaloon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex:0 0 12%;
      max-width: 12%;
      position: relative;

      .BaloonImg {
        img {
          filter:invert(1) brightness(1000);
        }
      }
      .SvarWrap {
        h5 {
          position: absolute;
          top: 10px;
          font-size: 32px;
          font-weight: 600;
          margin: 0;
          width: 100%;
          height: 135px;
          z-index: 1111;
          left: 0;
          padding: 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .active {
      display: none;
    }
  }
}
}